.video_thumbnail {
    position: relative;
    display: flex;
    gap: 4px;
    background-color: #1D232A;
    flex-grow: 1;
    transition: all  0.3s;

    .video_thumbnail__thumbnail {
        background-size: cover;
        background-position: 50% 50%;
        height: 80px;
        width: 120px;

        display: flex;
        justify-content: center;
        align-items: center;

        .video_thumbnail__play {
            background-color: #fff8;
            border-radius: 4px;
            color: #fff;
            width: 50px;
            cursor: pointer;
        }

    }

    .video_thumbnail__title {
        margin-top: 18px;
        font-size: 12px;;
        flex-grow: 1;
        color: #aaa;
        text-align: left;
    }

    .video_thumbnail__delete {
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
}
